/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heroSec {


  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;


}

/* .rajan{

color: #a4610e;
} */

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-background{
   position: absolute;
  top: 8%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
 filter: brightness(100%);
}

/* Flexbox for content */
.content {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 4rem;
  color: #ffffff; /* Text color */
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 60px;
  padding-top: 60px;
}
.rajan{
  display: flex;
  gap: 1.2rem;
  margin-bottom: 20px;
}

.rajan .name-char{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-shadow: 2px 2px 5px rgb(11, 61, 79);
  color: #4dde90;
    font-size: 4rem; 
  font-weight: bold; 
  opacity: 1;
  animation: fadeOut 5s infinite;
}

.name-char:nth-child(1) {
animation-delay: 0s;
  /* opacity: 1; */

}
.name-char:nth-child(2) {
animation-delay: 1s;
  /* opacity: 1; */

}
.name-char:nth-child(3) {
  /* opacity: 1; */
animation-delay: 2s;
}
.name-char:nth-child(4) {
animation-delay: 3s;
}
.name-char:nth-child(5) {
animation-delay: 4s;
}

@keyframes fadeOut{
  0% {
    opacity: 1;
    transform : translateY(20px);
  }
    50% {
    opacity: 0;
    transform : translateY(0);
  }  100% {
    opacity: 1;
    transform : translateY(-20px);
  }
}

.tag {
 display: flex;
  gap: 1.2rem;
}

.tag-word{
  font-family:  Arial, Helvetica, sans-serif;
   text-shadow: 2px 2px 5px rgb(8, 9, 10);
  color: #ffffff;
    font-size: 1.5rem; 
  font-weight: 600; 
  opacity: 1;
  animation: fadeIn 10s infinite;
}
.tag-word:nth-child(1) {
animation-delay: 0s;

}
.tag-word:nth-child(2) {
animation-delay: 0.5s;

}
.tag-word:nth-child(3) {
animation-delay: 1s;
}
.tag-word:nth-child(4) {
animation-delay: 1.5s;
}
.tag-word:nth-child(5) {
animation-delay: 2s;
}
.tag-word:nth-child(6) {
animation-delay: 2.5s;
}

@keyframes fadeIn{
  0% {
    opacity: 1;
    transform : translateX(0px);
  }
    50% {
    opacity: 0;
    transform : translateX(50);
  }  100% {
    opacity: 1;
    transform : translateX(100px);
  }
}

/* .sub-tag {
  font-size: 1rem; 
  margin-top: 1rem; 
} */

.cv-btn {
  background-color: #faa11b; 
  color: #ffffff; 
  padding: 1rem 2rem; 
  border: none;
  cursor: pointer;
  border-radius: 2rem; 
  margin-top: 1rem; 
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  margin-top: 80px;
  top: 20% ;
  max-width: 25%; 
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 9px rgb(250, 161, 27);
  filter: drop-shadow(0 0 5px rgba(255, 217, 0, 0.8));
  transition: transform 0.3s ease-in-out;
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

.right img:hover {
  cursor: pointer;
  box-shadow: 0 0 15px rgb(26, 25, 25);
  filter: drop-shadow(0 0 15px rgba(255, 217, 0, 0.8));
  transition: transform 0.3s ease-in-out;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 2rem; 
  }

  .left, .right {
    width: 100%; 
    align-items: center; 
    text-align: center; 
  }

  .right img {
    max-width: 40%; 
    margin-top: 2rem; 
  }
}

@media (max-width: 652px) {
  .left, .right {
    width: 100%; 
    padding: 1rem;
  }

  .right img {
    max-width: 50%; 
  }
}
